Repository EduardoMG12/cine: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format, biome lint --fix, biome format --fix

chore: add linter rule
  biome.json
Due: biome format --fix

style: remove unnecessary dependency
  package.json
Due: biome format --fix

shore: delete trash file
  api/src/index.ts
Due: biome format, biome lint --fix

shore: solve problems now project run on docker and out of docker
  .env.api.example
  .gitignore
  README.md
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  docker-compose.yml
Due: biome format, biome lint --fix, biome format --fix

feat: add services of login and register
  .env.api.example
  api/package.json
  api/src/app.module.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/entities/user.entity.ts
  api/src/migrations/1756947863770-InitialSchema.ts
  api/src/migrations/1757023577125-InitialSchema.ts
  api/src/schema.gql
  api/src/user/dto/create-user.input.ts
  api/src/user/dto/register.payload.ts
  api/src/user/dto/update-user.input.ts
  api/src/user/user.module.ts
  api/src/user/user.resolver.ts
  api/src/user/user.service.ts
  api/test/app.e2e-spec.ts
Due: biome format, biome lint --fix, biome format --fix

feat: setup initial CineVerse development environment
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
  api_v2/.air.toml
  api_v2/Dockerfile
  api_v2/cmd/main.go
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/domain/user.go
  api_v2/internal/handler/user_handler.go
  api_v2/internal/repository/user_repository.go
  api_v2/internal/service/user_service.go
  api_v2/migrations/001_initial_schema.sql
  docker-compose.yml
  flutter_app/Dockerfile
  package-lock.json
  package.json
Due: biome format --fix

test: add comprehensive unit tests for Go API
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/handler/user_handler_test.go
  api_v2/internal/repository/user_repository_test.go
  api_v2/internal/service/user_service_test.go
Due: none

feat: add development infrastructure and CI/CD
  .env.example
  .github/RFCs/RFC-001_API_Cinefilos.md
  .github/copilot-instruction.md
  scripts/setup.sh
Due: biome format --fix

refactor: improve NestJS API architecture
  api/src/auth/dto/register.payload.ts
Due: biome format, biome lint --fix

docs: add comprehensive test implementation results
  TEST_RESULTS.md
Due: biome format --fix

fix(flutter): resolve android build by commenting out integration_test
  flutter_app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Due: none

fix(flutter): run pre-commit hooks outside docker
  .lintstagedrc.json
  flutter_app/.tool-versions
Due: biome format --fix

refactor(monorepo): improve .gitignore structure and add flutter specific ignores
  .gitignore
Due: none

chore(lint): configure lint-staged for local environment
  .lintstagedrc.js
  .lintstagedrc.json
Due: biome format, biome lint --fix, biome format --fix

chore(gitignore): add instructions directory to remove
  .github/copilot-instruction.md
  .gitignore
Due: biome format --fix

fix(docker): remove unnecessary volume mapping and update Flutter Dockerfile for project creation
  docker-compose.yml
  flutter_app/Dockerfile
Due: none

feat(android): add Docker setup for Android development environment with Android Studio
  .env.api.example
  docker-compose.yml
  flutter_app/Dockerfile.android
  flutter_app/supervisord.conf
  scripts/setup.sh
Due: none

chore(docs): remove outdated test results documentation
  README.md
  TEST_RESULTS.md
Due: biome format --fix

feat(ios): add GeneratedPluginRegistrant files for Flutter plugin registration
  .gitignore
  flutter_app/ios/Runner/GeneratedPluginRegistrant.h
  flutter_app/ios/Runner/GeneratedPluginRegistrant.m
Due: none

refactor(config): modularize configuration system
  api_v2/cmd/main.go
  api_v2/internal/config/config.go
Due: none

feat(domain): implement complete domain models per RFC
  api_v2/internal/domain/match.go
  api_v2/internal/domain/movie.go
  api_v2/internal/domain/movie_list.go
  api_v2/internal/domain/post.go
  api_v2/internal/domain/review.go
  api_v2/internal/domain/social.go
  api_v2/internal/domain/user.go
  api_v2/internal/domain/user_session.go
Due: none

fix(lint): correct pre-commit linter configuration for Go
  .lintstagedrc.js
Due: biome format, biome lint --fix

fix: update existing code to work with new domain models
  .lintstagedrc.js
  api_v2/internal/handler/user_handler.go
  api_v2/internal/repository/user_repository.go
  api_v2/internal/service/user_service.go
Due: biome format, biome lint --fix

feat(db): implement complete database schema per RFC
  api_v2/migrations/002_complete_rfc_implementation.sql
Due: none

fix(lint): disable go vet in lint-staged due to module resolution issues
  .lintstagedrc.js
  api_v2/internal/domain/user.go
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/handler/profile_handler.go
  api_v2/internal/repository/user_session_repository.go
  api_v2/internal/service/user_service.go
  api_v2/internal/service/user_session_service.go
Due: biome format, biome lint --fix

feat(scripts): add go-lint.sh development helper script
  scripts/go-lint.sh
Due: none

docs(lint): add comprehensive linting documentation
  docs/LINTING.md
Due: biome format --fix

test: verify lint-staged is working properly
  api_v2/internal/domain/user.go
Due: none

cleanup: remove test comment
  api_v2/internal/domain/user.go
Due: none

refactor: improve project structure and development tooling
  .lintstagedrc.js
Due: biome format, biome lint --fix

feat(movies): implement complete movie management system
  .lintstagedrc.js
Due: biome format, biome lint --fix

feat: implement complete review system with CRUD operations
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/domain/movie.go
  api_v2/internal/dto/movie.go
  api_v2/internal/dto/movie_list.go
  api_v2/internal/handler/movie_handler.go
  api_v2/internal/handler/movie_list_handler.go
  api_v2/internal/handler/review_handler.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/repository/review_repository.go
  api_v2/internal/server/routes.go
  api_v2/internal/server/server.go
  api_v2/internal/service/movie_service.go
  api_v2/internal/service/review_service.go
  api_v2/internal/service/tmdb_service.go
Due: none

feat: implement complete email confirmation and password reset system
  api_v2/internal/domain/email.go
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/service/email_service.go
  api_v2/internal/service/user_service.go
Due: none

feat(review): add DTOs for creating, updating, and retrieving reviews
  .github/RFCs/RFC-002_Remaining_Features.md
  api_v2/README.md
  api_v2/internal/dto/review.go
Due: biome format --fix

chore: simplify Docker setup and update Go version
  api_v2/Dockerfile
  api_v2/go.mod
  docker-compose.yml
Due: none

fix: correct database field mapping for user profile pictures
  api_v2/internal/repository/user_repository.go
Due: none

docs: remove unnecessary comments from domain and repository layers
  api_v2/internal/domain/match.go
  api_v2/internal/domain/movie.go
  api_v2/internal/domain/movie_list.go
  api_v2/internal/domain/post.go
  api_v2/internal/domain/review.go
  api_v2/internal/domain/social.go
  api_v2/internal/dto/auth.go
  api_v2/internal/middleware/auth.go
  api_v2/internal/middleware/language.go
  api_v2/internal/repository/follow_repository.go
  api_v2/internal/repository/friendship_repository.go
  api_v2/internal/repository/movie_list_repository.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/repository/user_session_repository.go
Due: none

Path conditions:
  biome format: any of: *.{js,jsx,ts,tsx}
  biome lint --fix: any of: *.{js,jsx,ts,tsx}
  biome format --fix: any of: *.{json,md,css,scss}
