Repository EduardoMG12/cine: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format, biome lint --fix, biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...', flutter format, sh -c 'cd flutter_app && flutter analyze --no-fatal-infos'

fix: update API base URL for Android emulator (10.0.2.2)
  frontend/lib/core/constants/api_constants.dart
  frontend/lib/core/router/app_router.dart
Due: none

refactor: implement manual navigation after auth validation
  frontend/lib/features/auth/presentation/pages/login_page.dart
  frontend/lib/features/auth/presentation/pages/register_page.dart
Due: none

feat: add core services and theme configuration
  frontend/lib/core/services/api_service.dart
  frontend/lib/core/services/storage_service.dart
  frontend/lib/core/theme/app_theme.dart
Due: none

feat: implement auth data layer and domain models
  frontend/lib/features/auth/data/auth_service.dart
  frontend/lib/features/auth/domain/models/auth_response.dart
  frontend/lib/features/auth/domain/models/user_model.dart
Due: none

feat: implement auth state management with Riverpod
  frontend/lib/features/auth/presentation/providers/auth_provider.dart
Due: none

feat: create placeholder pages for all features
  frontend/lib/features/home/presentation/pages/home_private_page.dart
  frontend/lib/features/home/presentation/pages/home_public_page.dart
  frontend/lib/features/match/presentation/pages/match_page.dart
  frontend/lib/features/movies/presentation/pages/movie_detail_page.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
  frontend/lib/features/profile/presentation/pages/edit_profile_page.dart
  frontend/lib/features/profile/presentation/pages/profile_page.dart
  frontend/lib/features/social/presentation/pages/friends_page.dart
Due: none

feat: setup main app with dependencies
  frontend/lib/main.dart
  frontend/pubspec.yaml
Due: none

chore: update generated files and platform configs
  frontend/linux/flutter/generated_plugin_registrant.cc
  frontend/linux/flutter/generated_plugins.cmake
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/windows/flutter/generated_plugin_registrant.cc
  frontend/windows/flutter/generated_plugins.cmake
Due: none

feat: add hamburger menu to private home and fix compilation errors
  frontend/lib/features/auth/presentation/pages/login_page.dart
  frontend/lib/features/home/presentation/pages/home_private_page.dart
  frontend/test/widget_test.dart
Due: none

feat: implement persistent login session
  frontend/lib/core/services/storage_service.dart
  frontend/lib/features/auth/data/auth_service.dart
  frontend/lib/features/auth/presentation/providers/auth_provider.dart
Due: none

feat: implement auth state routing and auto-redirect
  frontend/lib/core/router/app_router.dart
Due: none

refactor: remove unused GoRouterRefreshStream class and its integration
  frontend/lib/core/router/app_router.dart
Due: none

feat: add back arrow and hamburger menu to all navigation pages
  frontend/lib/features/match/presentation/pages/match_page.dart
  frontend/lib/features/movies/presentation/pages/movie_detail_page.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
  frontend/lib/features/profile/presentation/pages/profile_page.dart
  frontend/lib/features/social/presentation/pages/friends_page.dart
Due: none

feat: add movie seeds with genres and trending movies handler skeleton
  api_v2/internal/data/movie_seeds.go
  api_v2/internal/handler/http/movie_handler.go
  frontend/lib/features/movies/presentation/pages/movie_detail_page.dart
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

fix: remove cache expiration filter and return 300 trending movies
  api_v2/OMDB_INTEGRATION.md
  api_v2/docs/docs.go
  api_v2/docs/swagger.json
  api_v2/docs/swagger.yaml
  api_v2/internal/config/config.go
  api_v2/internal/domain/movie.go
  api_v2/internal/handler/http/movie_handler.go
  api_v2/internal/infrastructure/movie_fetcher_chain.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/server/server.go
  api_v2/internal/usecase/movie/get_trending.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(movies): add trending movies carousel and search functionality
  frontend/lib/core/router/app_router.dart
  frontend/lib/core/services/movie_service.dart
  frontend/lib/features/home/presentation/pages/home_public_page.dart
  frontend/lib/features/home/presentation/providers/movie_provider.dart
  frontend/lib/features/movies/data/models/movie_detail_model.dart
  frontend/lib/features/movies/data/models/movie_model.dart
  frontend/lib/features/movies/presentation/pages/movie_detail_page.dart
  frontend/lib/features/movies/presentation/providers/movie_detail_provider.dart
Due: none

refactor: clean up code formatting and improve readability across multiple files
  frontend/lib/core/services/movie_service.dart
  frontend/lib/features/home/presentation/pages/home_public_page.dart
  frontend/lib/features/home/presentation/pages/home_public_page_new.dart
  frontend/lib/features/home/presentation/providers/movie_provider.dart
  frontend/lib/features/movies/data/models/movie_detail_model.dart
  frontend/lib/features/movies/presentation/providers/movie_detail_provider.dart
Due: none

docs(readme): add migration 003 to setup instructions
  README.md
Due: biome format --fix

docs(swagger): update API documentation with new endpoints
  api_v2/docs/docs.go
  api_v2/docs/swagger.json
  api_v2/docs/swagger.yaml
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(server): register user movies and profile routes
  api_v2/internal/server/server.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(handler): add HTTP handlers with toggle pattern
  api_v2/internal/handler/http/favorite_movie_handler.go
  api_v2/internal/handler/http/user_handler.go
  api_v2/internal/handler/http/watched_movie_handler.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(db): add watched and favorite movies tables
  api_v2/migrations/003_add_watched_and_favorite_movies.sql
Due: none

feat(domain): add user movie tracking entities and interfaces
  api_v2/internal/domain/user_movie.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(dto): add DTOs for user movies and profile updates
  api_v2/internal/dto/update_user_dto.go
  api_v2/internal/dto/user_movie_dto.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(repository): implement watched and favorite movies repositories
  api_v2/internal/repository/favorite_movie_repository.go
  api_v2/internal/repository/watched_movie_repository.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(usecase): add watched and favorite movies use cases
  api_v2/internal/usecase/user_movie/add_favorite_movie.go
  api_v2/internal/usecase/user_movie/add_watched_movie.go
  api_v2/internal/usecase/user_movie/remove_favorite_movie.go
  api_v2/internal/usecase/user_movie/remove_watched_movie.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(usecase): add GET use cases for watched and favorite movies
  api_v2/internal/usecase/user_movie/get_favorite_movies.go
  api_v2/internal/usecase/user_movie/get_watched_movies.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(usecase): implement toggle pattern for watched and favorite movies
  api_v2/internal/usecase/user_movie/toggle_favorite_movie.go
  api_v2/internal/usecase/user_movie/toggle_watched_movie.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(usecase): add user profile update use case
  api_v2/internal/usecase/user/update_user.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat: Add home carousels, favorites and watched pages
  frontend/lib/core/router/app_router.dart
  frontend/lib/core/services/user_movie_service.dart
  frontend/lib/features/home/presentation/pages/home_private_page.dart
  frontend/lib/features/home/presentation/pages/home_public_page.dart
  frontend/lib/features/movies/presentation/pages/movie_detail_page.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
Due: none

feat: Implement user profile management with fetching and updating functionality
  frontend/lib/core/services/user_service.dart
  frontend/lib/features/home/presentation/pages/home_private_page.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
  frontend/lib/features/profile/presentation/pages/profile_page.dart
Due: none

style: Format 'Match de Filmes' text for consistency in home and movies pages
  frontend/lib/features/home/presentation/pages/home_private_page.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
Due: none

feat: Update Swagger documentation for user profile responses
  api_v2/docs/docs.go
  api_v2/docs/swagger.json
  api_v2/docs/swagger.yaml
  api_v2/internal/handler/http/user_handler.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

refactor: Remove debug print statements across various services and pages
  frontend/lib/core/router/app_router.dart
  frontend/lib/core/services/api_service.dart
  frontend/lib/core/services/movie_service.dart
  frontend/lib/core/services/user_movie_service.dart
  frontend/lib/core/services/user_service.dart
  frontend/lib/features/auth/data/auth_service.dart
  frontend/lib/features/auth/presentation/pages/login_page.dart
  frontend/lib/features/auth/presentation/pages/register_page.dart
  frontend/lib/features/auth/presentation/providers/auth_provider.dart
  frontend/lib/features/movies/presentation/pages/watch_later_page.dart
  frontend/lib/features/movies/presentation/pages/watched_movies_page.dart
  frontend/lib/features/profile/presentation/pages/profile_page.dart
Due: none

style: Clean up formatting and improve readability in RegisterPage
  frontend/lib/features/auth/presentation/pages/register_page.dart
Due: none

refactor: Remove unused helper function comments in handler and repository files
  api_v2/internal/handler/http/omdb_handler.go
  api_v2/internal/infrastructure/movie_fetcher_chain.go
  api_v2/internal/repository/movie_repository.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

refactor: Remove null response check and unused stack trace in userProfileProvider
  frontend/lib/features/profile/presentation/pages/profile_page.dart
Due: none

docs: Update README.md to enhance project description and structure
  frontend/README.md
Due: biome format --fix

chore: remove unnecessary test files and clean up codebase
  api_v2/test-omdb.sh
  api_v2/test_db.go
  frontend/test/widget_test.dart
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

Path conditions:
  biome format: any of: *.{js,jsx,ts,tsx}
  biome lint --fix: any of: *.{js,jsx,ts,tsx}
  biome format --fix: any of: *.{json,md,css,scss}
  gofmt -w: any of: api_v2/**/*.go
  sh -c 'cd api_v2 && go vet ./...': any of: api_v2/**/*.go
  flutter format: any of: flutter_app/**/*.dart
  sh -c 'cd flutter_app && flutter analyze --no-fatal-infos': any of: flutter_app/**/*.dart
