Repository EduardoMG12/cine: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format, biome lint --fix, biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...', flutter format, sh -c 'cd flutter_app && flutter analyze --no-fatal-infos'

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": ["biome format", "biome lint --fix"],
	"*.{json,md,css,scss}": ["biome format --fix"]
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["biome format", "biome lint --fix"],
  "api_v2/**/*.go": [
    "gofmt -w",
    "sh -c 'cd api_v2 && go vet ./...'"
  ],
  "flutter_app/**/*.dart": [
    "flutter format",
    "sh -c 'cd flutter_app && flutter analyze --no-fatal-infos'"
  ]
}

feat: implement comprehensive infrastructure improvements
  .env.example
  api_v2/.env.example
  api_v2/README.md
  api_v2/cmd/main.go
  api_v2/internal/config/config.go
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/handler/social_handler.go
  api_v2/internal/handler/user_handler.go
  api_v2/internal/i18n/i18n.go
  api_v2/internal/i18n/locales/en.json
  api_v2/internal/i18n/locales/es.json
  api_v2/internal/i18n/locales/pt.json
  api_v2/internal/service/social_service.go
  api_v2/internal/utils/http.go
  api_v2/internal/utils/response.go
  api_v2/migrations/003_social_features.sql
  docker-compose.yml
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

docs: update status and progress in RFC-003 roadmap
  .github/RFCs/RFC-003_Remaining_Features_Roadmap.md
Due: biome format --fix

docs: update RFCs and implementation status
  .github/RFCs/RFC-003_Remaining_Features_Roadmap.md
Due: biome format --fix

feat: migrate all ID fields from auto-increment integers to UUIDs
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/domain/match.go
  api_v2/internal/domain/movie.go
  api_v2/internal/domain/movie_list.go
  api_v2/internal/domain/post.go
  api_v2/internal/domain/review.go
  api_v2/internal/domain/social.go
  api_v2/internal/domain/user.go
  api_v2/internal/domain/user_session.go
  api_v2/internal/utils/uuid.go
  api_v2/migrations/004_convert_ids_to_uuid.sql
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

docs: add UUID migration status documentation
  api_v2/UUID_MIGRATION_STATUS.md
Due: biome format --fix

remove unnecessary file.
  api_v2/UUID_MIGRATION_STATUS.md
Due: biome format --fix

feat: add UUID utility functions for enhanced security
  api_v2/internal/utils/uuid.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(database): migrate auto-increment IDs to UUIDs for enhanced security
  api_v2/migrations/004_convert_ids_to_uuid.sql
Due: none

refactor(repositories): convert all repositories to use UUID primary keys
  api_v2/internal/repository/follow_repository.go
  api_v2/internal/repository/friendship_repository.go
  api_v2/internal/repository/movie_list_repository.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/repository/review_repository.go
  api_v2/internal/repository/user_repository.go
  api_v2/internal/repository/user_session_repository.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

refactor(services): update business logic layer for UUID compatibility
  api_v2/internal/auth/jwt.go
  api_v2/internal/dto/auth.go
  api_v2/internal/middleware/auth.go
  api_v2/internal/service/auth_service.go
  api_v2/internal/service/movie_list_service.go
  api_v2/internal/service/movie_service.go
  api_v2/internal/service/review_service.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

chore: remove outdated linting guide documentation
  docs/LINTING.md
Due: biome format --fix

Refactor big quantity of erros on user and session services when to use string IDs instead of int
  api_v2/cmd/main.go
  api_v2/internal/auth/jwt.go
  api_v2/internal/domain/auth.go
  api_v2/internal/domain/user.go
  api_v2/internal/dto/auth.go
  api_v2/internal/dto/movie.go
  api_v2/internal/dto/review.go
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/handler/movie_handler.go
  api_v2/internal/handler/movie_list_handler.go
  api_v2/internal/handler/profile_handler.go
  api_v2/internal/handler/review_handler.go
  api_v2/internal/handler/social_handler.go
  api_v2/internal/handler/user_handler.go
  api_v2/internal/handler/user_handler_test.go
  api_v2/internal/repository/friendship_repository.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/repository/user_repository_test.go
  api_v2/internal/service/auth_service.go
  api_v2/internal/service/review_service.go
  api_v2/internal/service/social_service.go
  api_v2/internal/service/user_service.go
  api_v2/internal/service/user_service_test.go
  api_v2/internal/service/user_session_service.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(migrations): create clean initial schema with UUID
  api_v2/migrations/001_clean_initial_schema.sql
  api_v2/migrations/001_initial_schema.sql
  api_v2/migrations/002_complete_rfc_implementation.sql
  api_v2/migrations/003_social_features.sql
  api_v2/migrations/004_convert_ids_to_uuid.sql
Due: none

feat(structure): create clean architecture foundation
  api_v2/SESSION_SUMMARY.md
  api_v2/internal/config/.gitkeep
  api_v2/internal/domain/.gitkeep
  api_v2/internal/handler/.gitkeep
  api_v2/internal/i18n/.gitkeep
  api_v2/internal/middleware/.gitkeep
  api_v2/internal/repository/.gitkeep
  api_v2/internal/server/.gitkeep
  api_v2/internal/service/.gitkeep
Due: biome format --fix

feat(config): implement robust configuration system
  api_v2/internal/config/config.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(i18n): implement comprehensive internationalization system
  api_v2/internal/i18n/i18n.go
  api_v2/internal/i18n/locales/en.json
  api_v2/internal/i18n/locales/es.json
  api_v2/internal/i18n/locales/pt.json
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(logging): implement beautiful structured logging system
  api_v2/internal/i18n/i18n.go
  api_v2/internal/middleware/color_handler.go
  api_v2/internal/middleware/logger.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(health): implement health check endpoint with i18n support
  api_v2/internal/handler/health.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(middleware): implement language detection middleware
  api_v2/internal/middleware/language.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(config): add database connection pool settings and logger setup function
  api_v2/internal/config/config.go
  api_v2/internal/middleware/logger.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(server): implement complete HTTP server with graceful shutdown
  api_v2/cmd/main.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(examples): add test server and environment configuration
  api_v2/.env.example
  api_v2/test_server.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(docker): configure Docker Compose environment for API v2
  .env.example
  api_v2/.env.example
  api_v2/README.md
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/middleware/color_handler.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat: Sprint 1 Complete - Authentication System
  .github/new_sprints/ROADMAP.md
  .github/new_sprints/sprint_0_foundation.md
  .github/new_sprints/sprint_1_authentication.md
  .gitignore
  api_v2/cmd/main.go
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/config/.gitkeep
  api_v2/internal/domain/.gitkeep
  api_v2/internal/domain/auth.go
  api_v2/internal/domain/user.go
  api_v2/internal/dto/auth_dto.go
  api_v2/internal/handler/.gitkeep
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/i18n/.gitkeep
  api_v2/internal/middleware/.gitkeep
  api_v2/internal/middleware/auth_middleware.go
  api_v2/internal/repository/.gitkeep
  api_v2/internal/repository/session_repository.go
  api_v2/internal/repository/user_repository.go
  api_v2/internal/server/.gitkeep
  api_v2/internal/server/server.go
  api_v2/internal/service/.gitkeep
  api_v2/internal/service/auth_service.go
  api_v2/internal/service/jwt_service.go
  api_v2/internal/service/jwt_service_test.go
  api_v2/internal/service/password_service.go
  api_v2/internal/service/password_service_test.go
  api_v2/test_server.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat: Implement authentication handler with register, login, getMe, logout, and logoutAll endpoints
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/domain/user.go
  api_v2/internal/dto/user_dto.go
  api_v2/internal/handler/auth_handler.go
  api_v2/internal/handler/health.go
  api_v2/internal/handler/http/auth_handler.go
  api_v2/internal/infrastructure/jwt.go
  api_v2/internal/infrastructure/password.go
  api_v2/internal/middleware/auth.go
  api_v2/internal/middleware/auth_middleware.go
  api_v2/internal/server/server.go
  api_v2/internal/service/auth_service.go
  api_v2/internal/service/jwt_service.go
  api_v2/internal/service/jwt_service_test.go
  api_v2/internal/service/password_service.go
  api_v2/internal/service/password_service_test.go
  api_v2/internal/usecase/auth/get_me.go
  api_v2/internal/usecase/auth/login.go
  api_v2/internal/usecase/auth/logout.go
  api_v2/internal/usecase/auth/logout_all.go
  api_v2/internal/usecase/auth/register.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(movies): implement complete movies system with TMDb integration
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/domain/movie.go
  api_v2/internal/dto/movie_dto.go
  api_v2/internal/handler/http/auth_handler.go
  api_v2/internal/handler/http/movie_handler.go
  api_v2/internal/handler/http/utils.go
  api_v2/internal/infrastructure/redis.go
  api_v2/internal/infrastructure/tmdb.go
  api_v2/internal/repository/movie_repository.go
  api_v2/internal/server/server.go
  api_v2/internal/usecase/movie/get_movie_by_id.go
  api_v2/internal/usecase/movie/get_random.go
  api_v2/internal/usecase/movie/get_random_by_genre.go
  api_v2/internal/usecase/movie/search_movies.go
  api_v2/internal/usecase/movie/tmdb_operations.go
  new_sprints.md
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(server): enhance server initialization with improved database connection handling and middleware setup
  api_v2/internal/server/server.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(omdb): integrate OMDb API with adapter pattern and add related endpoints
  api_v2/OMDB_INTEGRATION.md
  api_v2/cmd/main.go
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/config/config.go
  api_v2/internal/handler/http/omdb_handler.go
  api_v2/internal/infrastructure/movie_provider.go
  api_v2/internal/infrastructure/omdb.go
  api_v2/internal/server/server.go
  api_v2/start-server.sh
  api_v2/test-omdb.sh
  api_v2/test_db.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

Remove Sprint 6: Social System and Sprint 7: Posts and Feed documentation files
  .github/RFCs/RFC-001_API_Cinefilos.md
  .github/RFCs/RFC-002_Remaining_Features.md
  .github/RFCs/RFC-003_Remaining_Features_Roadmap.md
  .github/new_sprints/ROADMAP.md
  .github/new_sprints/sprint_2_user_management.md
  .github/new_sprints/sprint_3_movies_tmdb.md
  .github/new_sprints/sprint_4_reviews_ratings.md
  .github/new_sprints/sprint_5_movie_lists.md
  .github/new_sprints/sprint_6_social_system.md
  .github/new_sprints/sprint_7_posts_feed.md
Due: biome format --fix

refactor: streamline domain interfaces and DTOs
  .gitignore
  README.md
  api_v2/README.md
  api_v2/internal/domain/auth.go
  api_v2/internal/domain/movie.go
  api_v2/internal/domain/user.go
  api_v2/internal/dto/auth_dto.go
  api_v2/internal/dto/movie_dto.go
  api_v2/internal/usecase/auth/login.go
  api_v2/internal/usecase/auth/register.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

feat(omdb): enhance API documentation for movie retrieval endpoints
  api_v2/internal/domain/movie.go
  api_v2/internal/handler/http/omdb_handler.go
Due: gofmt -w, sh -c 'cd api_v2 && go vet ./...'

Refactor movie fetching logic: Remove TMDb integration and implement a new movie fetcher chain
  README.md
  api_v2/README.md
  api_v2/internal/config/config.go
  api_v2/internal/domain/movie.go
  api_v2/internal/handler/http/movie_handler.go
  api_v2/internal/infrastructure/movie_fetcher_chain.go
  api_v2/internal/infrastructure/movie_provider.go
  api_v2/internal/infrastructure/omdb.go
  api_v2/internal/infrastructure/tmdb.go
  api_v2/internal/server/server.go
  api_v2/internal/usecase/movie/get_movie_by_id.go
  api_v2/internal/usecase/movie/search_movies.go
  api_v2/internal/usecase/movie/tmdb_operations.go
  api_v2/migrations/002_add_provider_and_sync.sql
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

Implement code changes to enhance functionality and improve performance
  README.md
  api_v2/README.md
Due: biome format --fix

fix: update project lead and advisor names in README
  README.md
Due: biome format --fix

Style: change some wrong words
  README.md
Due: biome format --fix

feat: update dependencies and add system handler
  api_v2/docs/docs.go
  api_v2/docs/swagger.json
  api_v2/docs/swagger.yaml
  api_v2/go.mod
  api_v2/go.sum
  api_v2/internal/handler/http/system_handler.go
  api_v2/internal/server/server.go
Due: biome format --fix, gofmt -w, sh -c 'cd api_v2 && go vet ./...'

refactor: remove Flutter and Android service configurations from setup
  docker-compose.yml
  scripts/setup.sh
Due: none
